@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

*, html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Titillium Web', sans-serif;
	list-style: none;
}

.flex{
	display: flex;
}

.content{
	width: 1440px;
	margin: 0 auto;
 	background-color: rgb(135, 80, 156);
 	height: 595px;
 	position: relative;
 	font-family: 'Titillium Web', sans-serif;
}

.jcsb{
	justify-content: space-between;
}

.jcsa{
	justify-content: space-around;
}

.jcc{
	justify-content: center;
}

.aic{
	align-items: center;
}

.welcome {
	width: 100%;
	margin: 0 auto;
 	background-color: rgb(135, 80, 156);
 	height: 595px;
 	position: relative;
 	font-family: 'Titillium Web', sans-serif;
}

.welcome_logo img{
	margin-left: 210px;
	margin-top: 55px;
}

.menu{
	margin-right: 195px;
	margin-top: 70px;
}

.menu li{
	display: inline-block;
}

.menu li a{
	color: white;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'Titillium Web', sans-serif;
	padding: 8px 20px;
	line-height: 18px;
}

.menu li a:hover{
	border-radius: 4px;
    background-color: rgb(100, 58, 121);
    padding: 8px 20px;
}

.text_center{
  text-align: center;
  position: absolute;
  left: 265px;
  top: 240px;
  font-size: 42px;
  color: rgb(247, 243, 234);
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  line-height: 49px;
}

.work_btn{
	font-size: 18px;
	position: absolute;
	padding: 22px 82px;
	background-color: rgb(235, 125, 75);
	margin-left: 574px;
	margin-bottom: 145px;
	border-radius: 5px;
	top: 380px;
}

.work_btn a{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	text-decoration: none;
	color: #ffffff;
}

.shape_btn_work {
	background-color: rgb(0, 0, 0);
    opacity: 15%;
    position: absolute;
    left: 2px;
    top: 68px;
    width: 288px;
    height: 4px;
    border-radius: 2px;
}


/*===============
Блок №2
=================*/
.services {
	background: #17c2a4;
	width: 100%;
	height: 750px;
	margin: 0 auto;
	position: relative;
	font-family: 'Titillium Web', sans-serif;
}

.services_content{
	background: #17c2a4;
	width: 1440px;
	height: 750px;
	margin: 0 auto;
	position: relative;
	font-family: 'Titillium Web', sans-serif;
}

.text_top{
	margin: 0 auto;
    position: absolute;
    text-align: center;
    left: 430px;
    top: 120px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 9px;
    color: #ffffff;
    line-height: 0.750;
    
}

.services_line{
	background-color: rgb(0, 0, 0);
  	opacity: 15%;
  	position: absolute;
  	width: 100px;
  	height: 4px;
  	left: 675px;
  	top: 170px;
}

.services_text_we_are{
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 1px;
  	text-align: center;
  	position: absolute;
 	left: 400px;
  	top: 200px;
  	color: rgb(255, 255, 255);
  	font-family: 'Titillium Web', sans-serif;
}

.services_flag{
	position: absolute;
	top: 325px;
	left: 200px;
}

.services_flag img{
	position: absolute;
	left: 35px;
}

.branding{
	font-size: 24px;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.75;
    text-align: left;
    position: absolute;
    left: 30px;
    top: 170px;
}

.text_lorem{
	font-size: 16px;
	font-weight: 300;
	font-family: 'Titillium Web', sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.5;
	text-align: center;
	position: absolute;
	left: 0px;
	top: 230px;
	width: 192px;
	height: 64px;
}

.services_crayon{
	position: absolute;
	top: 325px;
	left: 495px;
}

.services_crayon img{
	position: absolute;
	left: 50px;
}

.design{
	font-size: 24px;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.75;
    text-align: left;
    position: absolute;
    left: 50px;
    top: 170px;
}

.text_sed{
	font-size: 16px;
	font-weight: 300;
	font-family: 'Titillium Web', sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.5;
	text-align: center;
	position: absolute;
	left: 0px;
	top: 230px;
	width: 192px;
	height: 64px;
}


.services_gears{
	position: absolute;
	top: 325px;
	left: 760px;
}

.services_gears img{
	position: absolute;
	left: 20px;
}


.development{
	font-size: 24px;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.75;
    text-align: left;
    position: absolute;
    left: 20px;
    top: 170px;
}

.services_rocket{
	position: absolute;
	top: 325px;
	left: 1045px;
}

.services_rocket img{
	position: absolute;
	left: 60px;
}

.rocket{
	width: 180px;
	font-size: 24px;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.75;
    text-align: left;
    position: absolute;
    left: 20px;
    top: 170px;
}

/*===============
Блок №3
=================*/
.team {
	background-color: #e7f1f8;
	width: 100%;
  	height: 915px;
  	font-family: 'Titillium Web', sans-serif;
  	position: relative;
  	margin: 0 auto;
}

.team_content{
	background-color: #e7f1f8;
	width: 1440px;
  	height: 915px;
  	font-family: 'Titillium Web', sans-serif;
  	position: relative;
  	margin: 0 auto;
}

.team_meet_text{
	font-size: 41px;
	font-family: 'Titillium Web', sans-serif;
	color: rgb(60, 71, 97);
	font-weight: bold;
	line-height: 0.748;
	text-align: center;
	position: absolute;
	left: 440.5px;
  	top: 122px;
  	letter-spacing: 2px;
}

.team_line{
	background-color: rgb(0, 0, 0);
  	opacity: 15%;
  	position: absolute;
  	width: 100px;
  	height: 4px;
  	left: 675px;
  	top: 170px;
}

.team_we_text{
	font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #3c4761;
    letter-spacing: 0.15px;
    text-align: center;
    position: absolute;
    left: 405px;
    top: 200px;
}

.text_anne{
	font-size: 24px;
	font-family: 'Titillium Web', sans-serif;
	color: rgb(39, 40, 61);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 0.75;
	text-align: left;
	position: absolute;
	margin: 0 auto;
	top: 240px;
}

.text_ceo{
	font-size: 16px;
	color: rgb(48, 186, 231);
	line-height: 1.125;
	text-align: center;
	position: absolute;
	margin: 0 auto;
	font-family: 'Titillium Web', sans-serif;
	left: 20px;
	top: 275px;
}

.text_loremi{
	font-size: 16px;
	font-weight: 300;
	color: rgb(60, 71, 97);
	line-height: 1.5;
	text-align: center;
	position: absolute;
	margin: 0 auto;
	top: 315px;
	width: 196px;
	height: 112px;
	font-family: 'Titillium Web', sans-serif;
}

.text_kate{
	font-size: 24px;
	font-family: 'Titillium Web', sans-serif;
	color: rgb(39, 40, 61);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 0.75;
	text-align: left;
	position: absolute;
	margin: 0 auto;
	top: 240px;
	padding: 0 0 0 30px;
}

.text_ashley{
	font-size: 24px;
	font-family: 'Titillium Web', sans-serif;
	color: rgb(39, 40, 61);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 0.75;
	text-align: left;
	position: absolute;
	margin: 0 auto;
	top: 240px;
	padding: 0 0 0 14px;
}

.text_creative{
	font-size: 16px;
	color: rgb(48, 186, 231);
	line-height: 1.125;
	text-align: center;
	position: absolute;
	margin: 0 auto;
	font-family: 'Titillium Web', sans-serif;
	left: 20px;
	top: 275px;
	padding: 0 0 0 20px;
}

.text_duis{
	font-size: 16px;
	font-weight: 300;
	color: rgb(60, 71, 97);
	line-height: 1.5;
	text-align: center;
	position: absolute;
	margin: 0 auto;
	top: 315px;
	width: 197px;
	height: 112px;
	font-family: 'Titillium Web', sans-serif;
}

.team_base_1{
	position: absolute;
	left: 200px;
	top: 300px;
}

.team_base_2{
	position: absolute;
	left: 480px;
	top: 300px;
}

.team_base_3{
	position: absolute;
	left: 760px;
	top: 300px;
}

.team_base_4{
	position: absolute;
	left: 1040px;
	top: 300px;
}


.team_base_icon_1{
	position: absolute;
	top: 460px;
	margin: 0 auto;
	left: 20px;
	max-width: 170px;
}

.team_base_icon_1 img{
	margin-right: 7px;
}

.team_base_icon_2{
	position: absolute;
	top: 460px;
	margin: 0 auto;
	left: 40px;
	max-width: 170px;
}

.team_base_icon_2 img{
	margin-right: 7px;
}

.text_sedut{
	font-size: 16px;
	font-weight: 300;
	color: rgb(60, 71, 97);
	line-height: 1.5;
	text-align: center;
	position: absolute;
	margin: 0 auto;
	top: 315px;
	width: 200px;
	height: 112px;
	font-family: 'Titillium Web', sans-serif;
}

.text_lead{
	font-size: 16px;
	color: rgb(48, 186, 231);
	line-height: 1.125;
	text-align: center;
	position: absolute;
	margin: 0 auto;
	font-family: 'Titillium Web', sans-serif;
	left: 30px;
	top: 275px;
	padding: 0 0 0 20px;
}

.text_olivia{
	font-size: 24px;
	font-family: 'Titillium Web', sans-serif;
	color: rgb(39, 40, 61);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 0.75;
	text-align: left;
	position: absolute;
	margin: 0 auto;
	top: 240px;
	padding: 0 0 0 20px;
}

/*===============
Блок №4
=================*/
.skills{
	background-color: #ffffff;
	width: 100%;
  	height: 655px;
  	font-family: 'Titillium Web', sans-serif;
  	position: relative;
  	margin: 0 auto;
}

.skills_content {
	background-color: #ffffff;
	width: 1440px;
  	height: 655px;
  	font-family: 'Titillium Web', sans-serif;
  	position: relative;
  	margin: 0 auto;
}

.skills_text_content{
	font-family: 'Titillium Web', sans-serif;
}

.skills_text_content h2{
	font-size: 40px;
	letter-spacing: 5px;
	color: rgb(60, 71, 97);
	font-weight: bold;
	line-height: 0.748;
	text-align: center;
	position: absolute;
	left: 555px;
	top: 65px;
}

.skills_text_content img{
	position: absolute;
	left: 677px;
	top: 165px;
}

.skills_text_content span{
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  color: rgb(60, 71, 97);
  line-height: 1.444;
  text-align: center;
  position: absolute;
  left: 434px;
  top: 190px;
}

svg{
	position: relative;
	width: 160px;
	height: 160px;
	z-index: 1000;
}

svg circle{
	width: 100%;
	height: 100%;
	fill: none;
	stroke: #dfe8ed;
	stroke-width: 10;
	transform: translate(5px, 5px);
}

svg circle:nth-child(2){
	stroke-dasharray: 475;
	stroke-dashoffset: 475;
}

.card:nth-child(1) svg circle:nth-child(2){
	stroke-dashoffset: calc(475 - (475 * 90) / 100);
	stroke: #30bae7;
}

.card:nth-child(2) svg circle:nth-child(2){
	stroke-dashoffset: calc(475 - (475 * 75) / 100);
	stroke: #d74680;
}

.card:nth-child(3) svg circle:nth-child(2){
	stroke-dashoffset: calc(475 - (475 * 70) / 100);
	stroke: #15c7a8;
}

.card:nth-child(4) svg circle:nth-child(2){
	stroke-dashoffset: calc(475 - (475 * 85) / 100);
	stroke: #eb7d4b;
}

.container{
	position: relative;
    width: 1000px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    top: 320px;
}

.percent{
	position: relative;
	width: 160px;
	height: 160px;
}

.percent .number{
	font-family: 'Titillium Web', sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.percent .number h2{
	font-family: 'Titillium Web', sans-serif;
	font-size: 43px;
	font-weight: 300;
	color: #3c4761;
	text-transform: uppercase;
	line-height: 0.417;
	text-align: left;
	position: absolute;
}

.percent .number h2 span{
	font-family: 'Titillium Web', sans-serif;
	font-size: 32px;
}

.text{
	font-size: 24px;
	color: rgb(60, 71, 97);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 0.75;
	font-family: 'Titillium Web', sans-serif;
	justify-content: space-around;
    align-items: center;
    display: flex;
}

/*===============
Блок №5
=================*/


.portfolio{
	background-color: #d74680;
	width: 100%;
  	height: 895px;
  	font-family: 'Titillium Web', sans-serif;
  	position: relative;
  	margin: 0 auto;
}

.portfolio_content {
	background-color: #d74680;
	width: 1440px;
  	height: 895px;
  	font-family: 'Titillium Web', sans-serif;
  	position: relative;
  	margin: 0 auto;
}

.portfolio_what{
	font-size: 40px;
	font-family: 'Titillium Web', sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;
	letter-spacing: 5px;
	line-height: 0.748;
	text-align: center;
	position: absolute;
	left: 415px;
	top: 120px;
}

.portfolio_line{
	position: absolute;
	left: 675px;
	top: 170px;
	background-color: rgb(0, 0, 0);
	opacity: 0.15;
}

.portfolio_our{
	font-size: 18px;
	color: rgb(255, 255, 255);
	left: 645px;
	top: 198px;
	position: absolute;
	font-family: 'Titillium Web', sans-serif;
	line-height: 1.5;
	text-align: center;
	letter-spacing: .5px;
}

.mini_base_1{
	position: absolute;
	left: 170px;
	top: 285px;
}

.mini_base_2{
	position: absolute;
	left: 760px;
	top: 285px;
}

.mini_base_3{
	position: absolute;
	left: 170px;
	top: 595px;
}

.mini_base_4{
	position: absolute;
	left: 760px;
	top: 595px;
}

.mini_base_nullam{
	position: absolute;
	left: 145px;
	top: 12px;
	font-size: 21px;
	font-family: 'Titillium Web', sans-serif;
	color: rgb(255, 255, 255);
	font-style: italic;
	line-height: 1.5;
	text-align: left;
	width: 375px;
}

.mini_base_chanel_iman{
	font-size: 24px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
	text-align: left;
	position: absolute;
	left: 145px;
	top: 120px;
	font-family: 'Titillium Web', sans-serif;
	width: 200px;
}

.mini_base_CEO{
	text-align: left;
	position: absolute;
	left: 145px;
	top: 150px;
	font-size: 18px;
	color: rgb(255, 221, 153);
	line-height: 1.5;
	font-family: 'Titillium Web', sans-serif;
	width: 200px;
}



/*===============
Блок №6
=================*/
.get_in_touch{
	background-color: #344b8e;
	width: 100%;
  	height: 113px;
  	font-family: 'Titillium Web', sans-serif;
  	position: relative;
  	margin: 0 auto;
}

.get_in_touch_content{
	background-color: #344b8e;
	width: 1440px;
  	height: 113px;
  	font-family: 'Titillium Web', sans-serif;
  	position: relative;
  	margin: 0 auto;
}

.social_media{
	font-size: 24px;
	font-family: 'Titillium Web', sans-serif;
	color: rgb(255, 255, 255);
	font-weight: 600;
	line-height: 1.246;
	text-align: center;
	position: absolute;
	left: 248px;
	top: 47px;
	letter-spacing: 0.25px;
}

.social_media a {
	margin-right: 55px;
	color: #ffffff;
	text-decoration: none;
}

.social_media a:hover{
	color: #59a7fe;
}